<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title or title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
  </head>
  <body class="flex flex-col items-center justify-center">
    <header>Header</header>
    <main>{{ example.test }}</main>
    <footer>Footer</footer>
  </body>
</html>