---
import BulletList from "@/components/ui/BulletList.astro";
import Card from "@/components/ui/Card.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import type { Interest } from "@/lib/domain/interest";
import type { EntityByLocale } from "@/lib/types/EntityByLocale";
import type { Locale } from "@/lib/types/Locale";
import Joystick from "@/svg/joystick.svg?raw";
import type { ReactElement } from "react";

interface Props {
  localizedInterests: EntityByLocale<Interest>[] | undefined;
  locale: Locale;
}

const { localizedInterests, locale } = Astro.props;
---

<Card>
  <Fragment slot="title">
    <SectionTitle title="Interests" svgHtml={Joystick} />
  </Fragment>
  <Fragment slot="content">
    {
      localizedInterests && (
        <BulletList>
          {localizedInterests?.map(
            (interest): ReactElement => (
              <li>{interest[locale]?.name}</li>
            )
          )}
        </BulletList>
      )
    }
  </Fragment>
</Card>
