---
import BulletList from "@/components/ui/BulletList.astro";
import Card from "@/components/ui/Card.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import { Interest } from "@/lib/domain/interest";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import Joystick from "@/svg/joystick.svg?raw";
import i18next, { t } from "i18next";

const locale = i18next.language as Locale;
const interests = await fetchCollectionQuery(Interest, locale);
---

<Card>
  <Fragment slot="title">
    <SectionTitle title={t("interests")} svgHtml={Joystick} />
  </Fragment>
  <Fragment slot="content">
    <BulletList>
      {interests?.map((interest) => <li>{interest.name}</li>)}
    </BulletList>
  </Fragment>
</Card>
