---
import BulletList from "@/components/ui/BulletList.astro";
import Card from "@/components/ui/Card.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import { Interest } from "@/lib/domain/interest";
import { useTranslation } from "@/lib/i18n/utils";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import Joystick from "@/svg/joystick.svg?raw";

interface Props {
  locale: Locale;
}

const { locale }: Props = Astro.props;
const interests = await fetchCollectionQuery(Interest, locale);
const { t } = useTranslation(locale);
---

<Card>
  <Fragment slot="title">
    <SectionTitle title={t("interests")} svgHtml={Joystick} />
  </Fragment>
  <Fragment slot="content">
    <BulletList>
      {interests?.map((interest) => <li>{interest.name}</li>)}
    </BulletList>
  </Fragment>
</Card>
