---
import { StrapiClient } from "@infra/strapi";
import { ContactLinkFactory } from "@interfaces/ContactLink";
import { ProjectFactory } from "@interfaces/Project";
import { SkillFactory } from "@interfaces/Skill";

const skillFactory = new SkillFactory();
const skills =  skillFactory.parseL10nFromApiRes(await StrapiClient.fetchApi(skillFactory.ENDPOINT))

const contactLinkFactory = new ContactLinkFactory();
const contactLinks = contactLinkFactory.parseFromApiRes(await StrapiClient.fetchApi(contactLinkFactory.ENDPOINT))

const projectFactory = new ProjectFactory();
const projects = projectFactory.parseL10nFromApiRes(await StrapiClient.fetchApi(projectFactory.ENDPOINT))
---

<html lang="en" class="bg-stone-900 text-white print:h-[297mm] print:w-[210mm]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | Nico Ismaili</title>
	</head>
	<body>
		{skills.map((skill) => <div>{skill.en?.name}</div>)}
		<br />
		{contactLinks.map((contactLink) => <div>{contactLink.username}</div>)}
		<br />
		{projects.map((project) => <div>{project.en?.title}</div>)}
	</body>
</html>