---
import { Strapi } from "@infra/Strapi";
import { ContactLink } from "@interfaces/ContactLink";
import { Skill } from "@interfaces/Skill";
import { GraphQLClient } from 'graphql-request';
import { getSdk } from '../__generated__/gql';

const gqlClient = new GraphQLClient(import.meta.env.STRAPI_URL + '/graphql');
const sdk = getSdk(gqlClient);

const skills = await Strapi.fetchApi(Skill);
const contactLinks = await Strapi.fetchApi(ContactLink);
// const projects = await Strapi.fetchApi(Project);
---

<html lang="en" class="bg-stone-900 text-white print:h-[297mm] print:w-[210mm]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | Nico Ismaili</title>
	</head>
	<body>
		{skills.map((skill) => <div>{skill['de']?.name}</div>)}
		<br />
		{contactLinks.map((contactLink) => <div>{contactLink.username}</div>)}
	</body>
</html>