---
import { fetchContactLinks } from "@interfaces/ContactLink";
import { fetchSkills } from "@interfaces/Skill";

const skills = await fetchSkills();
const contactLinks = await fetchContactLinks();
---

<html lang="en" class="bg-stone-900 text-white print:h-[297mm] print:w-[210mm]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		{skills.map((skill) => <div>{skill['de']?.name}</div>)}
		<br />
		{contactLinks.map((contactLink) => <div>{contactLink.username}</div>)}
	</body>
</html>