---
import { StrapiClient } from "@infra/strapi";
import { SkillFactory } from "@domain/Skill";
import { certFactory } from "@domain/Cert";
import { ProjectFactory } from "@domain/Project";

const skillFactory = new SkillFactory();
const skills =  skillFactory.parseL10nFromApiRes(await StrapiClient.fetchApi(skillFactory.ENDPOINT))

const certs = certFactory.parseL10nFromApiRes(await StrapiClient.fetchApi(certFactory.ENDPOINT))
const projectFactory = new ProjectFactory();
const projects = projectFactory.parseL10nFromApiRes(await StrapiClient.fetchApi(projectFactory.ENDPOINT))
---

<html lang="en" class="bg-stone-900 text-white print:h-[297mm] print:w-[210mm]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | Nico Ismaili</title>
	</head>
	<body>
		{skills.map((skill) => <div>{skill.en?.name}</div>)}
		<br/>
		{certs.map((cert) => <div>{cert.en?.title}</div>)}
	</body>
</html>