---
import Svg from "@/components/ui/Svg.astro";
import type { Locale } from "@/lib/types/Locale";
import { CalendarDays } from "lucide-react";

interface Props {
  date: Date;
  locale: Locale;
}

const { date, locale }: Props = Astro.props;
---

<span class="inline-flex gap-1.5 items-center">
  <Svg Icon={CalendarDays} />
  {
    date.toLocaleDateString(locale, {
      year: "numeric",
      month: "short",
    })
  }
</span>
