---
import Svg from "@/components/ui/Svg.astro";
import TimePin from "@/components/ui/TimePin.astro";
import ChevronDown from "@/svg/chevron-down.svg?raw";

interface Props {
  asTimeLine?: boolean;
  isCompleted?: boolean;
}

const { asTimeLine = false, isCompleted = false }: Props = Astro.props;
---

<details
  class:list={[
    "flex flex-col [&_span.open-indicator]:open:rotate-180",
    asTimeLine && "relative pl-6",
  ]}
>
  <summary class:list={["flex flex-col cursor-pointer pb-3"]}>
    {asTimeLine && <TimePin isCompleted={isCompleted} />}
    <div class="flex justify-between items-center">
      <div class="flex flex-col">
        <slot name="title" />
        <slot name="subtitle" />
      </div>
      <Svg
        svgHtml={ChevronDown}
        className="w-6 h-max-6 rotate-0 transform transition-all duration-200 open-indicator"
      />
    </div>
  </summary>
  <div class="pb-3">
    <slot name="content" />
  </div>
</details>
