---
import Svg from "@/components/ui/Svg.astro";
import { ExternalLink } from "lucide-react";

interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="text-muted-foreground hover:text-primary inline-flex align-bottom"
>
  <Svg Icon={ExternalLink} />
</a>
