---
import Svg from "@/components/ui/Svg.astro";
import ExternalLink from "@/svg/external-link.svg?raw";

interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="text-muted-foreground hover:text-primary"
>
  <Svg svgHtml={ExternalLink} />
</a>
