---
interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer noopener"
  class="font-medium text-primary underline underline-offset-4"
>
  <slot />
</a>
