---
import IconText from "@/components/ui/IconText.astro";
import Svg from "@/components/ui/Svg.astro";
import Typography from "@/components/ui/Typography.astro";
import type { Locale } from "@/lib/types/Locale";
import { CalendarDays } from "lucide-react";

export interface Props {
  locale: Locale;
  start: Date;
  end: Date | undefined;
}
const { locale, start, end }: Props = Astro.props;
---

<Typography variant="muted" className="inline-flex gap-1.5 items-center">
  <IconText>
    <Svg Icon={CalendarDays} />
    <span>
      {
        start.toLocaleDateString(locale, {
          year: "numeric",
          month: "short",
        })
      }
    </span>
  </IconText>
  <span>&ndash;</span>
  {
    end
      ? end.toLocaleDateString(locale, {
          year: "numeric",
          month: "short",
        })
      : "Present"
  }
</Typography>
